version: '3.3'

services:
  postgres:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: root
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    networks:
      - keycloak
  keycloak:
    image: jboss/keycloak
    environment:
      - KEYCLOAK_USER=root
      - KEYCLOAK_PASSWORD=root
    ports:
      - 8080:8080
    networks:
      - keycloak
    depends_on:
      - postgres

  vault:
    image: vault
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=myroot
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    ports:
      - 8200:8200
    cap_add:
      - IPC_LOCK
    networks:
      - keycloak

networks:
  keycloak: null
